{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "curly": "off",
    "no-console": "off",
    "strict": ["error", "global"]
  }
}
